*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    font-size: 17px;
}

h3::after {
    content: '\1f4d6';
}

div.alg-stry {
    margin: 10px 20px 0px;
    font-family: "Comic Neue", cursive;
}

div.alg-stry h3, div.alg-stry h4 {
    text-align: center;
}

div.alg-stry span#algo {
    color: #7E8EF1;
}

div.alg-stry span#mtk {
    font-style: italic;
    font-weight: bold;
}

div.alg-stry span#mtk a {
    text-decoration: none;
    color: #1a34a5;
    cursor: pointer;
}
